<h1>2017 App</h1>

<p>Manage Happiness with this app</p>

<!-- Pass in data from server.js -->
<ul>
  {{#each seventeen}}
    <li>
      <p><span class="label">Country:</span> {{this.Country}}</p>
      <p><span class="label">Happiness Score:</span> {{this.happinessScore}}</p>
      <p><span class="label">Happiness Rank:</span> {{this.happinessRank}}</p>

      <form action="/{{this.Country}}?_method=DELETE" method="POST">
        <input type="hidden" name="id" value="{{this.Country}}">
        <button type="submit">Delete</button>
      </form>

      <a href="/{{this.Country}}">Update this Happiness Score</a>
    </li>
  {{/each}}
</ul>

<h2>Add a Happiness Score</h2>

<form class="create-form" action="/" method="POST">

  <div class="form-group">
    <label for="auth">Country:</label>
    <input type="text" id="auth" name="Country">
  </div>

  <div class="form-group">
    <label for="auth">Happiness Score:</label>
    <input type="text" id="auth" name="happinessScore"></input>
  </div>

  <div class="form-group">
    <label for="auth">Happiness Rank:</label>
    <input type="text" id="auth" name="happinessRank"></input>
  </div>

  <button type="submit">Add Happiness Rank</button>
</form>